@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Bebas+Neue&family=Calistoga&family=Frank+Ruhl+Libre:wght@300&family=Lato:wght@300&display=swap');


* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: frank ruhl libre, sans-serif;
    font-weight: 300;
    color: grey;
}

/*heading style*/
h1,
h2 {
    font-family: frank ruhl libre, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(56, 54, 54);
}

/*logo style*/
#logo {
    text-decoration: none;
    font-size: 180%;
    text-align: center;
    font-family: calistoga, sans-serif;
}

/*menu styles*/
#menu {
    font-size: 90%;
    letter-spacing: 4px;
    display: flex;
    justify-content: center;

}

#menu,
#logo {
    line-height: 50px;

}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 120%;

}

#menu li {
    list-style-type: none;
    margin-right: 40px;
}

#menu li:hover {
    font-size: 120%;
    color: brown;
}

#banner-container {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#banner-image {
    width: 100%;
    height: 100%;
    display: inline;
}

.cover-image {
    width: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    border: 10px solid white;
    box-sizing: border-box;
}

#cover-image1 {
    background-image: url(../images/cover-page-cake2.jpg);
}

#cover-image2 {
    background-image: url(../images/cover-page-cake3.png);
}

#cover-image3 {
    background-image: url(../images/cover-page-cake4.jpg);
}

#cover-image4 {
    background-image: url(../images/cover-page-cake5.jpeg);
}

#cover-image5 {
    background-image: url(../images/cover-page-cake6.jpg);
}

/* welcome section*/

#welcome {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;

}

#welcome-quote {
    font-size: 130%;
    text-align: center;
    padding-top: 100px;
}

/*momthly offer section*/
#offer {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: rgb(216, 212, 212);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#left-side {
    width: 50%;
    height: 100%;
    background-image: url(../images/offer-bcg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    float: left;
}

#right-side {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
}

#current-offer {
    height: 80%;
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;

    text-align: center;
}

#current-offer h1 {
    padding-top: 50px;
    font-size: 250%;
    color: rgb(76, 74, 74);

}

#current-offer li {
    padding-top: 30px;
    font-size: 160%;
    list-style-type: none;
    text-align: left;
    margin-left: 160px;
    text-decoration-line: underline;
}

#current-offer p {
    padding-top: 15px;
    margin-left: 200px;
    text-align: left;
    font-size: 130%;
}

#foto {
    height: 600px;
    width: 500px;
    background-image: url(../images/offer-cake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 10%;
    left: 25%;
}

/*what we offer section*/
#types-of-cakes {
    width: 100%;
    height: 1000px;
    background-color: aqua;
    display: flex;
}

/*first section from left*/
#description {
    width: 33%;
    height: 100%;
    background-color: bisque;
    position: relative;
}

#whatweoffer {
    width: 75%;
    height: 40%;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 20%;

}

#whatweoffer h2 {
    padding-top: 10%;
    padding-bottom: 10%;
}

#whatweoffer p {
    line-height: 30px;
}

#baptism-cake {
    width: 75%;
    height: 55%;
    padding-top: 10px;
    background-image: url(../images/baptism-cake.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 5%;
    left: 20%;
    overflow: hidden;
    text-align: end;
}

#bapcake-name {
    text-align: center;
    color: rgb(71, 69, 69);
    font-size: 150%;
    position: absolute;
    bottom: 1%;
    left: 30%;
}

/*center section*/
#center-section {
    width: 33%;
    height: 100%;
    background-color: blueviolet;
    position: relative;
}

#wedding-cake {
    width: 80%;
    height: 45%;
    background-image: url(../images/wedding-cake1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 10%;

}

#wedding-name {
    text-align: center;
    color: rgb(71, 69, 69);
    font-size: 150%;
    position: absolute;
    top: 52%;
    left: 35%;
}

#candy-table {
    width: 80%;
    height: 35%;
    background-image: url(../images/candy-table.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    bottom: 7%;
    left: 10%;

}

#candy-table-name {
    text-align: center;
    color: rgb(71, 69, 69);
    font-size: 150%;
    position: absolute;
    bottom: 2%;
    left: 33%;

}

#right-section {
    width: 33%;
    height: 100%;
    background-color: rgb(226, 43, 144);
    position: relative;

}

#birthday-cake {
    width: 80%;
    height: 35%;
    background-image: url(../images/birthday-cake1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 10%;

}

#birthday-cake-name {
    text-align: center;
    color: rgb(71, 69, 69);
    font-size: 150%;
    position: absolute;
    bottom: 52%;
    left: 33%;

}